@font-face {
  font-family: 'YanoneKaffeesatzRegular';
  src: url('../fonts/YanoneKaffeesatzRegular/YanoneKaffeesatzRegular.eot');
  src: url('../fonts/YanoneKaffeesatzRegular/YanoneKaffeesatzRegular.eot') format('embedded-opentype'),
       url('../fonts/YanoneKaffeesatzRegular/YanoneKaffeesatzRegular.woff2') format('woff2'),
       url('../fonts/YanoneKaffeesatzRegular/YanoneKaffeesatzRegular.woff') format('woff'),
       url('../fonts/YanoneKaffeesatzRegular/YanoneKaffeesatzRegular.ttf') format('truetype'),
       url('../fonts/YanoneKaffeesatzRegular/YanoneKaffeesatzRegular.svg#YanoneKaffeesatzRegular') format('svg');
}

