.mg-modal .scroll {
  height: 100%;
}

.mg-modal label span {
  font-family: 'YanoneKaffeesatz-Light';
  color: #464648;
  display: block;
}

.mg-modal input, .mg-modal select {
  font-family: 'YanoneKaffeesatz-Light';
  margin: 0 auto 0.5em;
  border: solid 1px #B2B1B0;
  width: 70%;
  padding-left: 2em;
  display: block;
}

.mg-modal form {
  margin-top: 0.3em;
}

.mg-modal img {
  margin-top: 3%;
}

.mg-modal h1 {
  margin-top: 2%;
  color: #1C4E9D;
  font-size: 1.5em;
}

.mg-modal h1.warning {
  font-family: 'YanoneKaffeesatz-Light';
  color: #F14824;
  font-size: 4em;
  margin-bottom: 0.3em !important;
  text-align: center;
}

.mg-modal p {
  font-family: 'YanoneKaffeesatz-Light';
  color: #1C4E9D;
  padding: 0 20px;
  font-size: 1.2em;
  line-height: 1.2em;
}

.mg-modal .bottom {
  position: absolute;
  bottom: 0;
  background-color: #F14824;
  color: #FFFFFF;
  display: block;
  width: 100%;
  border-radius: 0;
  margin: 0;
}

.mg-modal .bottom * {
  color: inherit;
  background-color: inherit;
}

.mg-modal dl {
  padding: 10% 0 5%;
  margin: 0;
  height: 60%;
  font-size: 0.8em;
}

.mg-modal dt {
  font-family: 'YanoneKaffeesatz-Light';
  text-align: right;
  width: 50%;
  display: inline-block;
  margin: 5% 3% 5% 0;
  margin-bottom: 0.5em;
}

.mg-modal dd {
  text-align: left;
  width: 40%;
  display: inline-block;
  margin: 5% 0;
}

.mg-modal.header {
  width: 100%;
  background-color: #FFFFFF;
  height: 40%;
}

.mg-modal.results .bottom {
  height: 65%;
}

