$accent-color: #F14824;
$dark-color: #00529C;
$light-color: #FDB945;
$view-padding: 10px;
$light-blue: #387ef5;
$dark-gray: #808080;
$light-border-color: #ECECEC;

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

