@charset "UTF-8";

@font-face {
  font-family: "mg-icons";
  src:url("../fonts/mg-icons/mg-icons.eot");
  src:url("../fonts/mg-icons/mg-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/mg-icons/mg-icons.woff") format("woff"),
    url("../fonts/mg-icons/mg-icons.ttf") format("truetype"),
    url("../fonts/mg-icons/mg-icons.svg#mg-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "mg-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "mg-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-next:before {
  content: "\61";
}
.icon-previous:before {
  content: "\62";
}
.icon-external-link:before {
  content: "\63";
}

