@import '../../common/util';

#loan-calculator {
  @import '../../common/close-btn';
  text-align: center;

  .close-btn i {
    color: $dark-gray;
  }

  content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    form {
      label {
        width: 50%;
        float: left;
      }

      label:last-child {
        width: 100%;
      }

      span { display: block; }
      input {
        margin: 10px;
        border: solid 1px $light-border-color !important;
        text-align: center !important;
      }
    }
  }

  footer {
    padding: 5px;

    button {
      width: 100%;
      color: white;
      height: 50px;
      background-color: $accent-color;
    }

    button:disabled {
      color: white;
      background: $dark-gray;
    }
  }

  @media (orientation: portrait) {
    content {
      form {
        label { width: 100%; }
      }
    }
  }
}

#loan-calculator-results {
  @import '../../common/close-btn';

  display: flex;

  panel.left {
    float: left;
    width: 40%;
    text-align: center;

    .loan-calculator-logo { width: 70%; }

    i { color: white; }
    h1 { color: $dark-color; }
  }

  panel.right {
    float: right;
    width: 60%;

    dl {
      width: 100%;
      margin: 0;
      height: 100.2%;
      padding: 15% 0 15% 5%;
      background: $accent-color;
      border-radius: 0 5px 5px 0;

      dt {
        color: white;
        width: 50%;
        float: left;
        line-height: 2.5em;
      }

      dd {
        color: white;
        width: 45%;
        float: left;
        margin-left: 5%;
        line-height: 2.5em;
      }
    }
  }

  @media (orientation: portrait) {
    display: block;

    panel.left {
      width: 100%;
      background-color: white;

      .loan-calculator-logo { width: 50%; }
      i { color: $accent-color; }
    }

    panel.right {
      width: 100%;

      dl {
        height: 200px;
        padding: 5% 0 5% 5%;
        min-height: 200px;

        dt { line-height: 1.5em; }
        dd { line-height: 1.5em; }
      }
    }
  }
}

.loan-calculator-logo {
  width: 25%;
  margin: 0 auto;
  display: flex;
  padding: 5px;
}

