<div id="loan-calculator">
  <header>
    <a class="close-btn">
      <i class="glyphicon glyphicon-remove" ng-click="vm.toolModal.close()"></i>
    </a>
    <img src="img/tools/calculator-logo.svg" class="loan-calculator-logo"/>
  </header>

  <content>
    <form name="LoanCalculatorForm" novalidate>
      <label>
        <span>Loan amount ($)</span>
        <input type="number" ng-model="vm.loanCalcData.amount" required />
      </label>

      <label>
        <span>Interest rate (%)</span>
        <input type="number" ng-model="vm.loanCalcData.rate" required />
      </label>

      <label>
        <span>Loan term (years)</span>
        <input type="number" ng-model="vm.loanCalcData.years" required />
      </label>
    </form>
  </content>

  <footer>
    <button ng-click="vm.showLoanCalcResult($event)"
            class="bottom button" ng-disabled="LoanCalculatorForm.$invalid">
      Calculate
    </button>
  </footer>
</div>

