<div id="loan-calculator-results">
  <panel class="left">
    <a class="close-btn">
      <i class="glyphicon glyphicon-remove" ng-click="vm.resultsModal.close()"></i>
    </a>

    <img src="img/tools/calculator-logo.svg" class="loan-calculator-logo" />
    <h1>Results</h1>
  </panel>

  <panel class="right">
    <dl>
      <dt>Loan amount:</dt>
      <dd>${{ vm.loanCalcData.amount }}</dd>

      <dt>Interest Rate:</dt>
      <dd>{{ vm.loanCalcData.rate }}%</dd>

      <dt>Loan Term:</dt>
      <dd>{{ vm.loanCalcData.years }} years</dd>

      <dt>Total monthly payment:</dt>
      <dd>${{ vm.loanCalcData.payment }}</dd>
    </div>
  </panel>
</div>

