@import 'modules-menu';
@import '../common/util';

#home-view {
  .play-btn-wrapper {
    @include clearfix;
    background-image: url('../img/home/background.png');
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 80%;

    .play-btn {
      img {
      width: 20%;
      max-width: 300px;
      margin: 20px auto 20%;
      display: block;
      }
    }
  }

  .nav {
    background-color: $light-color;

    .nav-btn {
      margin: 0 10px;
      text-decoration: none;

      .nav-btn-text {
        color: $dark-color;
        font-weight: bold;
      }

      img {
        width: 64px;
        vertical-align: middle;
      }
    }
  }

  @media (orientation: landscape) {
    .nav {
      text-align: center;
      padding: 20px 60px;
    }
  }

  @media (orientation: portrait) {
    .play-btn-wrapper .play-btn img {
      width: 80%;
    }

    .nav {
      padding: 10px 0;
      text-align: center;

      .nav-btn {
        display: inline-block;
        width: 110px;
        margin: 0;
      }
    }
  }
}

