@import '../common/util';

.modules {
  @import '../common/close-btn';

  background-color: white;
  min-width: 300px;

  .modules-header {
    background-color: $dark-color;;
    height: 3em;
    position: relative;

    .close-modal {
      text-align: center;
      z-index: 1040;

      i {
        color: white;
        font-size: 1.5em;
      }
    }

    img {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      width: 4em;
    }
  }

  .modules-body {
    padding: 2em 15px 15px;

    .list .item:not(:last-child) {
      border-bottom: solid 2px $light-border-color !important;
    }
    .list .item {
      width: 80% !important;
      margin: 0 10% !important;
      text-align: center;

      a {
        z-index: 1;
        display:inline-block;
        font-size: 1.3em;
        color: $dark-gray;
        margin: 0.5em 0;
      }
    }
  }
}

@media (orientation: portrait) {
  .modules {
    .modules-header {
      .circle img {
        width: 15% !important;
        margin: 20px 0;
      }
    }
  }
}

