<div class="modules">
  <div class="modules-header">
    <a class="close-btn">
      <i class="glyphicon glyphicon-remove" ng-click="vm.modulesModal.close()"></i>
    </a>

    <img src="img/home/modules-logo.svg" alt="" />
  </div>

  <div class="modal-body modules-body">
    <ul class="list scroll">
      <li class="item" ng-repeat="module in vm.modules">
        <a ng-click="vm.displaySubModules(module)">
          <span>{{ module.name }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>

