<div class="modules">
  <div class="modules-header">
    <a class="close-btn">
      <i class="glyphicon glyphicon-remove" ng-click="vm.hideSubmodulesModal()"></i>
    </a>

    <img src="img/home/submodules-logo.svg" alt="" />
  </div>

  <div class="modal-body modules-body">
    <ul class="list scroll">
      <li class="item" ng-repeat="subModule in vm.subModules">
        <a ng-click="vm.goToGameModule(subModule, $index)">
          <span>{{ subModule.name }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>

