@font-face {
  font-family: 'YanoneKaffeesatz-Light';
  src: url('../fonts/YanoneKaffeesatz-Light/YanoneKaffeesatz-Light.eot');
  src: url('../fonts/YanoneKaffeesatz-Light/YanoneKaffeesatz-Light.eot') format('embedded-opentype'),
       url('../fonts/YanoneKaffeesatz-Light/YanoneKaffeesatz-Light.woff') format('woff'),
       url('../fonts/YanoneKaffeesatz-Light/YanoneKaffeesatz-Light.ttf') format('truetype'),
       url('../fonts/YanoneKaffeesatz-Light/YanoneKaffeesatz-Light.svg#YanoneKaffeesatz-Light') format('svg');
}

