@import 'auth.layout';
@import '../common/util';

$fb-login-btn-color: #8899C9;
$fb-login-btn-hover-color: #437ADD;
$guest-login-btn-hover-color: #FFA910;

#login-view {
  .branding {
    background-image: url('../img/login/login-bg.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: center;
  }

  .content {
    background-color: $dark-color;

    .nav {
      .btn {
        color: $dark-color;
        background-color: $light-color;
        transition: 0.4s;

        &:hover {
          background-color: $guest-login-btn-hover-color;
        }

        &:first-child {
          color: #FFF;
          background-color: $fb-login-btn-color;

          &:hover {
            background-color: $fb-login-btn-hover-color;
          }
        }
      }
    }
  }
}

