@import '../common/util';

#login-view {
  .branding {
    @include clearfix;

    .logo {
      width: 20%;
      max-width: 300px;
      margin: 20px auto 20%;
      display: block;
    }
  }

  .content {
    @include clearfix;

    padding: 3em 5%;
    position: relative;

    .nav {
      .btn {
        display: block;
        width: 100%;
        line-height: 2.5em;
      }

      .btn:first-child {
        margin-bottom: 0.5em;
      }
    }
  }

  @media (orientation: landscape) {
    .nav {
      width: 33%;
      float: left;
    }

    .sponsors {
      width: 33%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5%;

      .mg-sponsor-logo {
        float: left;
        width: 33%;
      }

      .mg-sponsor-pml-logo {
          width: 95%;
      }
    }
  }

  @media (orientation: portrait) {
    .branding {
      .logo {
        width: 80%;
        margin-bottom: 30%;
      }
    }

    .content {
      .nav, .sponsors {
        float: none;
        width: initial;
      }

      .nav {
        margin-bottom: 1em;
      }

      .sponsors {
        @include clearfix;

        .mg-sponsor-logo {
          width: 25%;
          margin: 0 4.1%;
          float: left;
        }

        .mg-sponsor-pml-logo {
            width: 95%;
        }
      }
    }
  }
}

