<div id="login-view">
  <div class="branding">
    <img class="logo" alt="Money Game" src="img/login/mg-logo.png" />
  </div>

  <div class="content">
    <div class="nav">
      <button class="btn primary-btn" ng-click="vm.loginFB()">
        Log in with Facebook
        <img class="inline-icon" src="img/login/facebook-icon.svg" />
      </button>

      <button class="btn secondary-btn" ng-click="vm.continueWithoutFB()">
        Play without fun features
      </button>
    </div>

    <div class="sponsors">
      <img class="mg-sponsor-logo" src="img/login/united-way-atl-logo.svg" />
      <img class="mg-sponsor-logo" src="img/login/united-way-logo.svg" />
      <img class="mg-sponsor-logo" src="img/login/suntrust-logo.svg" />
    </div>
  </div>
</div>

