@import 'common/util';

* {
  font-family: 'YanoneKaffeesatzRegular';
  font-size: 16pt;
  box-sizing: border-box;
  color: $dark-gray;
}

h1, h2, h3, button, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

button {
 border: none;
}

button::-moz-focus-inner {
  border: none;
}

button, a {
  &:not([disabled]) {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

