@import 'auth/auth';
@import 'home/home';
@import 'tools/tools';
@import 'profile/profile';
@import 'game/game';
@import 'common/modal';
@import 'common/util';
@import 'fonts/fonts';
@import 'resets';

i {
  font-family: 'mg-icons';
}

html {
  height: 100%;
}

body {
  background-image: url('../img/wave-pattern.svg');
  background-size: 5%;
}

.moneygame-container {
  @include clearfix;

  padding: 0% 5%;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);

  & > div {
    background-color: #FFF;
    box-shadow: 0 0 20px #CCC;
    padding: $view-padding;
  }

  @media (max-width: 400px) and (min-aspect-ratio: 1/2),
         (max-height: 600px) and (min-aspect-ratio: 3/5) {
    padding: 0;
    position: static;
    transform: none;
  }
}

.inline-icon {
  width: 0.7em;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.3em;
}

.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  margin: 0;
  width: unset;
  max-height: 100%;

  .modal-content {
    display: inline-block;
  }
}

