@import '../common/util';
@import '../common/back-btn';

#profile-view {
  @include clearfix;
  position: relative;

  .avatar-wrapper {
    background-image: url('../img/profile/background.svg');
    padding: 20px 0;

    .user-avatar {
      width: 50%;
      margin: 0 auto;
      display: block;
      border-radius: 50%;

      &:not(.guest-avatar) {
        border: solid 3px #FBC2A6;
      }
    }
  }

  .fb-name-wrapper {
    @include clearfix;
    height: 60px;

    .fb-status-wrapper {
      background-color: $dark-color;
      float: left;
      width: 30%;
      height: 100%;
      text-align: center;
      padding-top: 15px;

      .facebook-icon {
        height: 1em;
        display: inline-block;
        vertical-align: middle;
      }

      .fb-switch {
        vertical-align: middle;
        background: $dark-color !important;
        background-color: $dark-color !important;

        &.checked {
          border: 1px solid white !important;
          background: $dark-color !important;
          background-color: $dark-color !important;

          &.small {
            background: $light-blue !important;
            background-color: $light-blue !important;
          }
        }
      }
    }

    .user-name {
      float: left;
      width: 70%;
      height: 100%;
      background: linear-gradient(to right, #9b311b 0%, #f14824 15%);
      padding-left: 10%;
      color: white;
    }
  }

  .module-levels-list {
    @include clearfix;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;

    .header {
      font-size: xx-large;
      color: #F15C2B;
    }

    .module-name {
      width: 80%;
      float: left;
      line-height: 2em;
    }

    .module-level {
      height: 2em;
      width: 20%;
      float: right;
      color: white;
      padding: 5px;
      border-radius: 2px;
      background-color: #F15C2B;
      text-align: center;
      margin: 0;
      font-weight: bold;
    }
  }

  @media (orientation: portrait) {
    .user-avatar {
      max-width: 300px;
    }
  }

  @media (orientation: landscape) {
    .general-info-wrapper {
      width: 50%;
      float: left;

      .avatar-wrapper {
        height: 90%;
      }

      .fb-name-wrapper {
        .facebook-icon {
          height: 80%;
        }
      }
    }

    .levels-wrapper {
      width: 50%;
      float: right;
      height: 420px;
      overflow-y: scroll;
    }
  }
}

