<div id="profile-view">
  <a class="back-btn" ui-sref="home">
    <i class="glyphicon glyphicon-arrow-left back-button"></i>
  </a>

  <div class="general-info-wrapper">
    <div class="avatar-wrapper">
      <img class="user-avatar" ng-class="{'guest-avatar': !vm.user.player.avatar_url}"
           src="{{ vm.user.player.avatar_url || 'img/profile/guest-avatar.svg' }}" />
    </div>

    <div class="fb-name-wrapper">
      <div class="fb-status-wrapper">
        <img class="facebook-icon" src="img/login/facebook-icon.svg" />
        <switch class="fb-switch" id="enabled" name="enabled" ng-model="vm.loggedIn"
                ng-change="vm.toggleLogin()">
        </switch>
      </div>

      <h1 class="user-name">{{ vm.user.player.name || 'Guest' }}</h1>
    </div>
  </div>

  <div class="levels-wrapper">
    <dl class="module-levels-list">
      <dt class="module-name" ng-repeat-start="module in vm.modules">
        {{ module.name }}
      </dt>

      <dd class="module-level" ng-repeat-end>
        {{ vm.getModuleLevel(module.id) }} / {{ module.max_levels }}
      </dd>
    </dl>
  </div>
</div>

