@import '../common/util';

$max-logo-width: 150px;

#tools-view {
  .branding {
    position: relative;

    .tools-logo {
      width: 20%;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
      max-width: $max-logo-width;
    }
  }

  .menu {
    @include clearfix;

    .menu-item {
      border-width: 1px;

      .item-link {
        display: block;
        margin: 0 auto;

        &:before {
          content: '';
          margin: 0 auto 0.5em;
        }
      }

      .icon-external-link {
        margin-left: 0.2em;
        font-size: 0.6em;
      }
    }
  }

  @media (orientation: landscape) {
    .branding {
      min-height: 150px;
      margin-bottom: $max-logo-width * 0.7;
    }

    .menu {
      display: flex;
      margin-bottom: $max-logo-width/4;

      .menu-item {
        float: left;
        width: 25%;

        .item-link {
          width: 70%;

          &:before {
            height: 3em;
            width: 4em;
            display: block;
          }
        }
      }
    }
  }

  @media (orientation: portrait) {
    .branding {
      min-height: 125px;
      margin-bottom: 70px;

      .tools-logo {
        width: 40%;
        max-width: 125px;
      }
    }

    .menu {
      margin-bottom: 20px;

      .menu-item .item-link {
        width: 200px;

        &:before {
          height: 2em;
          width: 3em;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}

