@import '../common/util';
@import '../common/back-btn';
@import 'dictionary/dictionary';
@import 'loan-calculator/loan-calculator';
@import 'savings-calculator/savings-calculator';
@import 'tools.layout';

#tools-view {
  position: relative;

  .branding {
    background-image: url('../img/tools/background.svg'),
                      radial-gradient(at bottom, #6b89be, $dark-color 90%);
    background-size: contain, cover;
    background-color: $dark-color;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .menu {
    .menu-item {
      .item-link {
        &:hover {
          color: $accent-color;
        }

        &:before {
          background-size: contain;
          background-repeat: no-repeat;
        }
      }

      &.loan-calc-btn .item-link {
        &:before {
          background-image: url('../img/tools/calculator.svg');
        }

        &:hover:before {
          background-image: url('../img/tools/calculator-active.svg');
        }
      }

      &.savings-calc-btn .item-link {
        &:before {
          background-image: url('../img/tools/savings.svg');
        }

        &:hover:before {
          background-image: url('../img/tools/savings-active.svg');
        }
      }

      &.dictionary-btn .item-link {
        &:before {
          background-image: url('../img/tools/dictionary.svg');
        }

        &:hover:before {
          background-image: url('../img/tools/dictionary-active.svg');
        }
      }

      &.coaching-btn .item-link {
        &:before {
          background-image: url('../img/tools/coaching.svg');
        }

        &:hover:before {
          background-image: url('../img/tools/coaching-active.svg');
        }
      }
    }
  }

  @media (orientation: landscape) {
    .menu .menu-item {
      border-left-style: solid;
      border-color: #CCC;
      text-align: center;

      &:first-child {
        border: none;
      }
    }

  }

  @media (orientation: portrait) {
    .branding {
      background-size: cover;
    }
  }
}

