<div id="tools-view">
  <a class="back-btn" ui-sref="{{ vm.fromGame ? 'game' : 'home' }}">
    <i class="glyphicon glyphicon-arrow-left back-button"></i>
  </a>

  <div class="branding">
    <img class="tools-logo" src="img/tools/tools-icon.svg" alt="Tools" />
  </div>

  <ul class="menu">
    <li class="menu-item loan-calc-btn">
      <a class="item-link" href="#" ng-click="vm.showLoanCalculator()">
        Loan Calculator
      </a>
    </li>

    <li class="menu-item savings-calc-btn">
      <a class="item-link" href="#" ng-click="vm.showSavingsCalculator()">
        Savings Calculator
      </a>
    </li>

    <li class="menu-item dictionary-btn">
      <a class="item-link" ui-sref="dictionary({'fromGame': vm.fromGame})">
        Dictionary
      </a>
    </li>

    <li class="menu-item coaching-btn">
      <a class="item-link" target="_blank"
         href="https://www.unitedwayatlanta.org/2017/08/03/making-wages-work/">
        Coaching <i class="icon-external-link"></i>
      </a>
    </li>
  </ul>
</div>

