@import '../common/util';

#exit-game-warning {
  @import '../common/close-btn';

  min-width: 300px;
  max-width: 400px;

  .close-btn i {
    color: $dark-gray;
  }

  .warning-logo {
    width: 30%;
    margin: 10px auto;
    display: table;
    height: 70px
  }

  .warning-text {
    margin-bottom: 60px;
    text-align: center;
  }

  .go-back-button {
    padding: 10px;
  }

  .exit-warning {
    font-size: 1.5em;
    text-align: center;
  }
}

