$points-widget-width: 100px;
$nav-btn-icon-height: 2em;
$quiz-nav-y-padding: 0.5em;
$nav-assistance-height: 3em;

#game-view {
  @include clearfix;

  .toast {
    position: absolute;
    top: 0;
    right: 5%;
    min-width: 200px;
    z-index: 1;

    &#correct-toast {
      font-size: 1.5em;
    }

    &#incorrect-toast {
      font-size: 1.5em;
    }
  }

  .quiz-container {
    @include clearfix;
    border-width: 2px;

    .question-container {
      padding: 0.1em 0;
      position: relative;

      .level {
        margin-bottom: 0.5em;
      }

      .progress-widget {
        .progress-indicator {
          &:before {
            content: '';
            height: 1em;
            width: 1em;
            display: inline-block;
          }
        }
      }

      .question-text {
        padding: 0 5%;
      }

      .points-widget {
        width: $points-widget-width;
        height: $points-widget-width;
        border-width: 5px;
        z-index: 1;

        .points-text {
          display: block;
          padding-top: 0.5em;

          .points {
            line-height: 1em;
            font-size: 2em;
            color: white !important;
            display: block;
          }
        }
      }
    }

    .answer-list-container {
      .answer {
        padding: 0.5em 5%;
        position: relative;

        &:before {
          content: '';
          border-width: 1px;
          position: absolute;
          top: -1px;
          left: 2.5%;
          right: 2.5%;
        }

        &:first-child:before {
          border-top: none;
        }
      }
    }
  }

  .quiz-navigation {
    @include clearfix;
    float: left;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: $nav-assistance-height;
    overflow: hidden;

    button {
      float: left;
      padding: $quiz-nav-y-padding 0;
      height: 100%;

      i {
        font-size: 2em;
      }
    }
  }

  .assistance-tools {
    float: right;
    height: $nav-assistance-height;

    button {
      float: left;
      padding: $quiz-nav-y-padding 0;
      height: 100%;

      img {
        height: 90%;
      }
    }
  }

  @media (orientation: landscape) {
    .quiz-container {
      display: flex;

      .question-container {
        width: 50%;
        min-height: 300px;

        .question-text {
          padding: 0 $points-widget-width/2 0 5%;
        }

        .points-widget {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(50%, -50%);

          .points-text {
            color: white;
            margin: 0 auto;
          }
        }
      }

      .answer-list-container {
        width: 50%;
        align-self: center;

        .answer {
          padding: 0.5em 5% 0.5em  $points-widget-width/2;
        }
      }
    }
  }

  @media (orientation: portrait) {
    .quiz-container {
      .question-container {
        .question-text {
          padding: 0 5% $points-widget-width/2;
        }

        .points-widget {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 50%);
        }
      }

      .answer-list-container {
        padding-top: $points-widget-width/4;
      }
    }
  }
}

