@import '../common/util';
@import 'game.layout';
@import 'exit-alert';
@import 'video-clip';
@import 'hint';
@import 'level-complete';
@import 'module-complete';

#game-view {
  @import '../common/back-btn';
  position: relative;

  .toast {
    background-color: #FFFFFF;
    text-align: center;
    transition: opacity 0.5s ease-out;

    &#correct-toast {
      color: #00529C;
    }

    &#incorrect-toast {
      color: #F25D2A;
    }
  }

  .quiz-container {
    border-color: $accent-color;
    border-bottom-style: solid;

    .question-container {
      background-color: $dark-color;
      color: #FFF;

      .level {
        text-align: center;
        color: white;
      }

      .progress-widget {
        text-align: center;

        .progress-indicator {
          background-color: transparent;

          &:before {
            background-size: contain;
            background-repeat: no-repeat;
          }

          &.empty:before {
            background-image: url('../img/game/empty-circle.svg');
          }

          &.full:before {
            background-image: url('../img/game/full-circle.svg');
          }
        }
      }

      .question-text {
        text-align: center;
        color: white;
      }

      .points-widget {
        background-color: $accent-color;
        border-style: solid;
        border-color: #FFF;
        border-radius: 50%;
        text-align: center;
        color: #FFF;

        .points-text {
          color: white;

          .points {
            font-weight: bold;
          }
        }
      }
    }

    .answer-list-container {
      .answer {
        color: #464646;

        &:before {
          border-color: #BBB;
          border-top-style: solid;
        }

        &:first-child:before {
          border-top: none;
        }

        &.answered {
          background-color: #FEE6B9;
        }
      }
    }
  }

  .quiz-navigation {
    button {
      background-color: #FFF;

      &[disabled] i {
        color: #CCC;
      }
    }
  }

  .assistance-tools {
    button {
      background-color: #FFF;

      &.hint-btn {
        background-color: $accent-color;

        &[disabled] {
          background-color: #CCC;
        }
      }
    }
  }
}

