@import '../common/util';

#hint-wrapper {
  @import '../common/close-btn';
  max-width: 800px;

  .logo-wrapper {
    background-image: url('../img/profile/background.svg');
    background-repeat: no-repeat;

    .hint-icon-image {
      width: 80%;
    }
  }

  .hint-text-wrapper {
    text-align: left;
    padding: 30px;

    .hint {
      font-family: 'YanoneKaffeesatz-Light';
    }
  }

  @media (orientation: landscape) {
    .close-btn i {
      color: $dark-gray;
    }

    .logo-wrapper {
      float: left;
      width: 50%;
      height: 500px;
      display: flex;
      justify-content: center;

      .hint-icon-image {
        margin: 80px 40px;
      }
    }

    .hint-text-wrapper {
      float: right;
      width: 50%;
      height: 500px;
      display: flex;
      justify-content: center;

      .hint {
        align-self: center;
      }
    }
  }

  @media (orientation: portrait) {
    max-width: 500px;

    .logo-wrapper {
      padding: 20px;

      .hint-icon-image {
        max-width: 150px;
        margin: 0;
      }
    }
  }
}

