@import '../common/util';

#level-complete {
  .level-complete-message {
    background-image: url('../img/level-complete/background.svg'),
                      url('../img/level-complete/fireworks-bg.svg');
    background-size: 50%, 60%;
    background-position: left bottom, left top;
    background-repeat: no-repeat;

    h1 {
      color: $dark-color;
      font-size: 5em;
      text-align: right;
      margin-right: 10%;
    }

    h2 {
      color: $accent-color;
      font-size: 2em;
      text-align: right;
      margin-right: 10%;
    }
  }

  .nav {
    @include clearfix;

    .nav-btn {
      display: block;
      color: white;
      height: 4em;
      background-color: $dark-color;

      i {
        vertical-align: middle;
        color: white;
      }
    }
  }

  @media (orientation: landscape) {
    .nav-btn:not(.module-completed) {
      float: left;
      width: 50%;

      &:first-child {
        border-right: dashed 1px white;
      }
    }
    .nav-btn.module-completed {
      width: 100%;
    }
  }

  @media (orientation: portrait) {
    .level-complete-message {
      position: relative;
      background-size: contain, contain;
      background-position: center bottom, center top;

      h1 {
        font-size: 3em;
        position: relative;
        z-index: 1;
      }

      h2 {
        font-size: 1.5em;
        position: relative;
        z-index: 1;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }

    .nav-btn {
      width: 100%;

      &:first-child {
        border-right: none;
        border-bottom: dashed 1px white;
      }
    }
  }
}

