@import '../common/util';

.module-complete-modal {
  min-width: 80%;
  min-height: 30%;

  .module-complete-wrapper {

    .completed-module-message {
      text-align: center;
    }

    .go-back-module-completed {
      margin: 0 auto;
      display: table;
      width: 100%;
      background-color: $dark-color;
      color: white;
    }
  }
}