@import '../common/util';

#video-clip {

  display: flex;
  flex-direction: column;

  iframe {
    padding: 0;
  }

  .skip-btn {
    padding: 10px;
    background-color: #F14824;
    color: #FFFFFF;
  }

  .video-name {
    padding-left: 1em;
  }
}