<div id="hint-wrapper">
  <a class="close-btn" ng-click="vm.modal.close()">
    <i class="glyphicon glyphicon-remove fa-2x"></i>
  </a>

  <div class="logo-wrapper hint-background">
    <img src="img/game/hint.svg" class="hint-icon-image" />
  </div>

  <div class="hint-text-wrapper">
    <div class="hint">
      {{ hint }}
    </div>
  </div>
</div>

