<div id="level-complete">

  <div ng-if="vm.closingVideoAvailable()">
      <youtube-video video-url="vm.currentModule.moduleClosingVideo.url" player-vars="vm.videoPlayerOpts"></youtube-video>
  </div>

  <div class="level-complete-message">
    <h1 class="title">Well done!</h1>
    <h2>Submodule complete</h2>
  </div>

  <div class="nav">
    <button class="nav-btn" ng-class="{'module-completed': !vm.hasNextSubmoduleAvailable()}" ui-sref="home">
      <i class="icon-previous"></i>
      Home
    </button>

    <button class="nav-btn" ng-if="vm.hasNextSubmoduleAvailable()" ng-click="vm.goToNextSubmodule()">
      Next Submodule
      <i class="icon-next"></i>
    </button>
  </div>
</div>
