<div class="mg-modal module-complete-modal">
  <div class="module-complete-wrapper">
    <h1 class="completed-module-message"> You've completed this module! </h1>

    <button class="button go-back-module-completed" ng-click="modal.remove()" ui-sref="home">
      Go back
    </button>
  </div>
</div>

