<div id="video-clip">
  <youtube-video video-url="vm.currentModule.moduleVideo.url" player-vars="vm.videoPlayerOpts"></youtube-video>
  <p class="video-name" ng-if="vm.currentModule.moduleVideo.name">{{ vm.currentModule.moduleVideo.name }}</p>
  <button  class="bottom button skip-btn" ng-click="vm.hideOpeningVideo()">Skip</button>
</div>
