<div id="savings-calculator">
  <header>
    <a class="close-btn">
      <i class="glyphicon glyphicon-remove" ng-click="vm.toolModal.close()"></i>
    </a>
    <img src="img/tools/savings-logo.svg" class="savings-calculator-logo" />
  </header>

  <content>
    <form name="SavingsCalculatorForm" novalidate>
      <label>
        <span>Initial amount ($)</span>
        <input type="number" step="0.01" ng-model="vm.savingsCalcData.principal" required />
      </label>

      <label>
        <span>Monthly deposit ($)</span>
        <input type="number" step="0.01" ng-model="vm.savingsCalcData.monthlyDeposit"
               required />
      </label>

      <label>
        <span>Annual interest rate (%)</span>
        <input type="number" step="0.01" ng-model="vm.savingsCalcData.annualInterestRate"
               required />
      </label>

      <label>
        <span>Compounding period</span>
        <select ng-model="vm.savingsCalcData.compoundsPerYear"
                ng-init="vm.savingsCalcData.compoundsPerYear = '1'">
          <option value="12">Monthly</option>
          <option value="4">Quarterly</option>
          <option value="2">Semiannually</option>
          <option value="1">Annually</option>
        </select>
      </label>

      <label>
        <span>Number of years</span>
        <input type="number" step="1" ng-model="vm.savingsCalcData.years" required />
      </label>

    </form>
  </content>
  <footer>
    <button ng-click="vm.showSavingsCalcResult()"
            class="keyboard-hide bottom button" ng-disabled="SavingsCalculatorForm.$invalid">
      Calculate
    </button>
  </footer>
</div>

