<div id="home-view">
  <div class="play-btn-wrapper">
    <a class="play-btn" ng-click="vm.showModulesMenu()">
      <img class="animated shake" src="img/home/play-now.png" alt="Play now!" />
    </a>
  </div>

  <div class="nav">
    <a class="nav-btn" ui-sref="profile">
      <img src="img/home/me.svg" />
      <span class="nav-btn-text">Me</span>
    </a>

    <a class="nav-btn" ui-sref="tools">
      <img src="img/home/tools.svg" />
      <span class="nav-btn-text">Tools</span>
    </a>
  </div>
</div>

