@import '../../common/util';

#savings-calculator {
  @import '../../common/close-btn';

  text-align: center;
  min-width: 300px;

  .close-btn i {
    color: $dark-gray;
  }

  content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    form {
      label {
        width: 50%;
        float: left;

        select {
          width: 190px;
          margin: 10px;
        }
      }

      label:last-child {
        width: 100%;
      }

      span {
        display: block;
      }

      input {
        margin: 10px;
        border: solid 1px $light-border-color !important;
        text-align: center !important;
      }
    }
  }

  footer {
    padding: 5px;

    button {
      width: 100%;
      color: white;
      height: 50px;
      background-color: $accent-color;
    }

    button:disabled {
      color: white;
      background: $dark-gray;
    }
  }

  @media (orientation: landscape) {
    max-width: 500px;
  }

  @media (orientation: portrait) {
    form {
      label {
        width: 100% !important;

        select {
          border: solid 1px $light-border-color !important;
        }
      }
    }
  }
}

#savings-calculator-results {
  @import '../../common/close-btn';

  display: flex;

  panel.left {
    float: left;
    width: 40%;
    text-align: center;

    .savings-calculator-logo {
      width: 70%;
    }

    i {
      color: white;
    }

    h1 {
      color: $dark-color;
    }
  }

  panel.right {
    float: right;
    width: 60%;
    padding: 15px;
    border-radius: 0 5px 5px 0;
    background-color: $accent-color;

    table {
      width: 100%;

      tr {
        th {
          width: 50%;
          color: white;
          font-size: 1.1em;
          font-weight: bold;
          border-bottom: solid 1px white;
          padding: 0 10px 10px;
          text-align: left;

          &:first-child {
            text-align: right;
            border-right: solid 1px white;
          }
        }

        td {
          width: 50%;
          color: white;
          text-align: left;
          padding: 0 20px 5px;
          width: 50%;

          &:first-child {
            text-align: right;
          }
        }
      }
    }
  }

  @media (orientation: portrait) {
    display: block;

    panel.left {
      width: 100%;
      background: white;

      i {
        color: $dark-gray;
      }

      .savings-calculator-logo {
        width: 80%;
        max-width: 150px;
      }
    }

    panel.right {
      width: 100%;
    }
  }
}

.savings-calculator-logo {
  width: 25%;
  margin: 0 auto;
  display: flex;
  padding: 5px;
}

