<div id="savings-calculator-results">
  <panel class="left">
    <a class="close-btn">
      <i class="glyphicon glyphicon-remove" ng-click="vm.resultsModal.close()"></i>
    </a>

    <img src="img/tools/savings-logo.svg" class="savings-calculator-logo" />
    <h1>Final savings balance</h1>
  </panel>

  <panel class="right">
    <table>
      <tr>
        <th>YEAR</th>
        <th>BALANCE</th>
      </tr>

      <tr ng-repeat="year in vm.savingsCalcData.savingsPerYear">
        <td>{{ $index + 1 }}</td>
        <td>${{ year }}</td>
      </tr>
    </table>
  </panel>
</div>

