<div class="dictionary">
  <a class="back-btn" ui-sref="tools({'fromGame': vm.fromGame})">
    <i class="glyphicon glyphicon-arrow-left back-button"></i>
  </a>

  <div class="background">
    <img class="dictionary-logo" src="img/tools/dictionary-logo.svg" />
    <div class="search-wrapper inner-addon left-addon">
      <i class="glyphicon glyphicon-search placeholder-icon"></i>
      <input class="search-input" ng-model="vm.search" type="text" placeholder="Search">
    </div>
  </div>

  <div class="dictionary-terms">
    <ul ng-repeat="group in vm.groupedTerms | orderBy:'initial' | filter:vm.search">
      <span class="term-title">{{ group.initial }}</span>
      <li class="term" ng-repeat="dictionaryTerm in group.terms | filter:vm.search"
          ng-click="vm.showDefinition(dictionaryTerm)">
        {{ dictionaryTerm.term }}
      </li>
    </ul>
  </div>
</div>

