@import '../../common/util';

#definition-wrapper {
  @import '../../common/close-btn';
  width: 300px;

  .header {
    width: 100%;
    height: 120px;
    background-size: 106%;
    background-image: url('../img/tools/dictionary-bg.png');
    background-repeat: repeat;
    text-align: center;
    background-position: -11px top;

    i {
      color: white;
      font-size: 1.5em;
    }
  }

  .content {
    padding: 20px 30px;
    background: white;
    font-family: 'YanoneKaffeesatz-Light';

    h1 {
      color: $accent-color;
      font-size: 1.5em;
    }

    p {
      font-size: 1.2em;
      line-height: 1.2em;
    }
  }

  @media (orientation: landscape) {
    @include clearfix;
    width: 600px;
    display: flex;

    .header {
      width: 20%;
      background-size: 300%;
      height: unset;
    }

    .content {
      width: 80%;
    }
  }
}

