@import '../../common/util';
@import '../../common/back-btn';
@import 'definition';

.inner-addon { position: relative; }

.inner-addon .glyphicon {
  position: absolute;
  padding-top: 15px;
  pointer-events: none;
}

.left-addon .glyphicon  { left: 20px;}
.left-addon input  { padding-left:  35px; }

.dictionary {
  max-height: 600px;
  overflow: auto;
  text-align: center;
  position: relative;

  .background {
    background-image: url('../img/tools/dictionary-bg.png');
    background-repeat: repeat-y;
    background-size: 150% 100%;
    text-align: center;

    .search-wrapper {
      margin: 10px;

      .search-input {
        border-radius: 5px;
        width: 99%;
        margin: 10px;
      }
    }
  }

  .dictionary-terms {
    .term-title {
      color: $accent-color;
      display: block;
      padding: 10px 10px 5px;
      font-size: 1em;
      font-weight: bold;
      margin-bottom: 0.5em;
      border-bottom: solid 1px $accent-color;
    }

    .term:hover {
      background-color: antiquewhite;
    }
  }
}

.dictionary-logo {
  height: 75px;
  margin-top: 25px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

