<div id="definition-wrapper">
  <div class="header">
    <a class="close-btn" ng-click="vm.definitionModal.close()">
      <i class="glyphicon glyphicon-remove"></i>
    </a>
    <img src="img/tools/dictionary-logo.svg" class="dictionary-logo" />
  </div>

  <div class="content">
    <h1>{{ vm.dictionaryTerm.term }}:</h1>
    <p>{{ vm.dictionaryTerm.definition }}</p>
  </div>
</div>

