<div id="exit-game-warning" class="mg-modal">
  <div class="text-center">
    <a class="close-btn">
      <i class="glyphicon glyphicon-remove exit-warning" ng-click="vm.modal.close()"></i>
    </a>

    <img src="img/game/exclamation.svg" class="warning-logo" />

    <h1 class="warning">Wait!</h1>

    <p class="warning-text">You must complete 5 questions in a row or you will have to start over!</p>

    <button ng-click="exit()" class="bottom button go-back-button">Go back anyway</button>
  </div>
</div>

