<div id="game-view">
  <a class="back-btn" ng-click="vm.goBack()">
    <i class="glyphicon glyphicon-arrow-left back-button"></i>
  </a>

  <div id="correct-toast" class="toast">
    <p>Correct!</p>
  </div>

  <div id="incorrect-toast" class="toast">
    <p>Oops! Try again</p>
    <p ng-show="vm.hint">Hint: There's a hint!</p>
  </div>

  <div class="quiz-container">
    <div class="question-container">
      <h1 class="level">Submodule: {{ vm.currentModule.moduleName }}</h1>

      <div class="progress-widget">
        <span class="progress-indicator"
              ng-repeat="i in vm.toArray(vm.TOTAL_QUESTIONS)"
              ng-class="{'empty': vm.numAnswered < $index,
                         'full': vm.numAnswered >= $index}">
        </span>
      </div>

      <p class="question-text">{{ vm.question }}</p>

      <div class="points-widget">
        <span class="points-text">
          <span class="points">{{ vm.points }}</span>
          pts
        </span>
      </div>
    </div>

    <div class="answer-list-container">
      <ul class="answer-list">
        <li class="answer" ng-repeat="option in vm.answerOptions"
             ng-click="vm.checkAnswer(option)"
             ng-class="{'answered': option.answered}">
          {{ option.text }}
        </li>
      </ul>
    </div>
  </div>

  <div class="quiz-navigation">
    <button class="navigation-previous" ng-click="vm.goToPrevQuestion()"
            ng-disabled="vm.questionCounter == 0">
      <i class="icon-previous"></i>
    </button>

    <button class="navigation-next" ng-click="vm.goToNextQuestion()"
            ng-disabled="vm.questionCounter >= vm.numAnswered">
      <i class="icon-next"></i>
    </button>
  </div>

  <div class="assistance-tools">
    <button class="tools-btn" type="button" ui-sref="tools({'fromGame': true})">
      <img alt="tools-icon" src="img/game/tools-icon.svg" />
    </button>

    <button class="hint-btn" type="button" ng-click="vm.showHint($event)"
            ng-disabled="!vm.hint">
      <img alt="hint-icon" src="img/game/hint-icon.svg" />
    </button>
  </div>
</div>

