<div id="level-complete">
  <div class="level-complete-message">
    <h1 class="title">Well done!</h1>
    <h2>Level complete</h2>
  </div>

  <div class="nav">
    <button class="nav-btn" ui-sref="home">
      <i class="icon-previous"></i>
      Home
    </button>

    <button class="nav-btn" ui-sref="game">
      Next Level
      <i class="icon-next"></i>
    </button>
  </div>
</div>

